
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body
{
    <div id="allCars"></div>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/api/cars/"

            });
        });
    </script>
    

}

